<div class="chat-window">
  <h2>{{ title }}</h2>
  <p>Powered by Randam Software.</p>
  <hr />

  @for (message of messages(); track message.id) {
    <pre
      class="message"
      [ngClass]="{
        'from-user': message.fromUser,
        generating: message.generating
      }"
      >{{ message.text }}</pre
    >
  }

  <form #form="ngForm" (ngSubmit)="sendMessage(form, form.value.message)" sss>
    <input
      name="message"
      placeholder="Type a message"
      ngModel
      required
      autofocus
      [disabled]="generatingInProgress()" />
    <button type="submit" [disabled]="generatingInProgress() || form.invalid">
      Send
    </button>
  </form>
</div>
